<a href="https://colab.research.google.com/github/lydiateinfalt/DATS6202-MachineLearningI-Fall2021/blob/main/Homework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Overview" data-toc-modified-id="Overview-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Overview</a></span></li><li><span><a href="#Notebook-Configuration" data-toc-modified-id="Notebook-Configuration-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Notebook Configuration</a></span><ul class="toc-item"><li><span><a href="#Google-drive" data-toc-modified-id="Google-drive-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Google drive</a></span></li><li><span><a href="#Warning" data-toc-modified-id="Warning-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Warning</a></span></li><li><span><a href="#Matplotlib" data-toc-modified-id="Matplotlib-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Matplotlib</a></span></li><li><span><a href="#TensorFlow" data-toc-modified-id="TensorFlow-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>TensorFlow</a></span></li><li><span><a href="#Random-seed" data-toc-modified-id="Random-seed-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Random seed</a></span></li></ul></li><li><span><a href="#Data-Preprocessing" data-toc-modified-id="Data-Preprocessing-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Preprocessing</a></span></li><li><span><a href="#Hyperparameter-Tuning" data-toc-modified-id="Hyperparameter-Tuning-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Hyperparameter Tuning</a></span></li><li><span><a href="#Model-Selection" data-toc-modified-id="Model-Selection-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Model Selection</a></span></li><li><span><a href="#Generating-the-Submission-File" data-toc-modified-id="Generating-the-Submission-File-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Generating the Submission File</a></span><ul class="toc-item"><li><span><a href="#Creating-the-directory-for-the-submission-file" data-toc-modified-id="Creating-the-directory-for-the-submission-file-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Creating the directory for the submission file</a></span></li><li><span><a href="#Generating-the-submission-file" data-toc-modified-id="Generating-the-submission-file-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Generating the submission file</a></span></li></ul></li></ul></div>

<b>
<p>
<center>
<font size="5">
Popular Machine Learning Methods: Idea, Practice and Math
</font>
</center>
</p>

<p>
<center>
<font size="4">
Part 2, Chapter 2, Section 4: Shallow Neural Networks
</font>
</center>
</p>
    
<p>
<center>
<font size="4">
Homework 2
</font>
</center>
</p>

<p>
<center>
<font size="3">
Data Science, Columbian College of Arts & Sciences, George Washington University
</font>
</center>
</p>

<p>
<center>
<font size="3">
Professor: Yuxiao Huang
</font>
</center>
</p>
</b>

<p>
<center>
<font size="3">
Student Name: Lydia Teinfalt
</font>
</center>
</p>
</b>

<p>
<center>
<font size="3">
DATS 6202: Machine Learning 1

</font>
</center>
</p>
</b>

<p>
<center>
<font size="3">
Last Updated: 10/18/2021
</font>
</center>
</p>
</b>

# Overview

- This notebook includes homework 2 for Shallow Neural Networks (Part 2, Chapter 2, Section 4).
- See the accompanied slides in our [github repository](https://github.com/yuxiaohuang/teaching/tree/master/gwu/machine_learning_I/fall_2021/slides/p2_shallow_learning/p2_c2_supervised_learning/p2_c2_s4_shallow_neural_networks).
- Here we will work on kaggle competation [Santander Customer Transaction Prediction].(https://www.kaggle.com/c/santander-customer-transaction-prediction/overview)
- The goal of this homework is tweaking the pipeline (including data preprocessing, hyperparameter tuning and model selection) implemented in [/p2 c2 s4 shallow neural_networks/case_study](https://github.com/yuxiaohuang/teaching/blob/master/gwu/machine_learning_I/fall_2021/code/p2_shallow_learning/p2_c2_supervised_learning/p2_c2_s4_shallow_neural_networks/case_study/case_study.ipynb) to make it work for the new kaggle competation mentioned above.
- Complete the missing parts indicated by # Implement me.
- Particularly, the code should
    - be bug-free (note that the output produced by your solution may not necessarily be the same as the provided output, due to version issues)
    - be commented
- **The baseline for this assignment is 0.670522. As per the grading rubrics (section 15 of the syllabus), if the validation score of your best model is lower than or the same as the baseline, you will only receive 80% of the full mark. See more details in the grading rubrics.**
- Submit an ipynb file named homework_2.ipynb to [blackboard](https://blackboard.gwu.edu) folder /Assignments/Homework_2/.

# Notebook Configuration

## Google drive

In [1]:
from google.colab import drive
import sys

# Mount Google Drive
drive.mount('/content/drive')

# Get the absolute path of the current folder
abspath_curr = '/content/drive/My Drive/Colab Notebooks/DATS 6202/HW2/'

# Get the absolute path of the shallow utilities folder
abspath_util_shallow = '/content/drive/My Drive/Colab Notebooks/DATS 6202/code/utilities/p2_shallow_learning/'

# Get the absolute path of the shallow models folder
abspath_model_shallow = '/content/drive/My Drive/Colab Notebooks/DATS 6202/code/models/p2_shallow_learning/'

Mounted at /content/drive

## Warning

In [2]:
import warnings

# Ignore warnings
warnings.filterwarnings('ignore')

## Matplotlib

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline 

# Set matplotlib sizes
plt.rc('font', size=20)
plt.rc('axes', titlesize=20)
plt.rc('axes', labelsize=20)
plt.rc('xtick', labelsize=20)
plt.rc('ytick', labelsize=20)
plt.rc('legend', fontsize=20)
plt.rc('figure', titlesize=20)

## TensorFlow

In [4]:
# The magic below allows us to use tensorflow version 2.x
%tensorflow_version 2.x 
import tensorflow as tf
from tensorflow import keras

## Random seed

In [5]:
# The random seed
random_seed = 42

# Set random seed in tensorflow
tf.random.set_seed(random_seed)

# Set random seed in numpy
import numpy as np
np.random.seed(random_seed)

# Data Preprocessing

For Homework 2, we will be using the data set for Kaggle Competition [Santander Customer Transaction Prediction].(https://www.kaggle.com/c/santander-customer-transaction-prediction/overview)

In [6]:
# Change working directory to the absolute path of the shallow utilities folder
%cd $abspath_util_shallow

# Import the shallow utitilities
%run pmlm_utilities_shallow.ipynb

/content/drive/My Drive/Colab Notebooks/DATS 6202/code/utilities/p2_shallow_learning

In [7]:
import pandas as pd

# Load the raw training data
df_raw_train = pd.read_csv(abspath_curr + '/data/train.csv',
                           header=0)
# Make a copy of df_raw_train
df_train = df_raw_train.copy(deep=True)

# Load the raw test data
df_raw_test = pd.read_csv(abspath_curr + '/data/test.csv',
                          header=0)
# Make a copy of df_raw_test
df_test = df_raw_test.copy(deep=True)

# Get the name of the target
target = 'target'

In [8]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  200000        202

In [9]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  200000        201

In [10]:
# Print the first 5 rows of df_train
df_train.head()

   ID_code  target    var_0   var_1  ...  var_196  var_197  var_198  var_199
0  train_0       0   8.9255 -6.7863  ...   7.8784   8.5635  12.7803  -1.0914
1  train_1       0  11.5006 -4.1473  ...   8.1267   8.7889  18.3560   1.9518
2  train_2       0   8.6093 -2.7457  ...  -6.5213   8.2675  14.7222   0.3965
3  train_3       0  11.0604 -2.1518  ...  -2.9275  10.2922  17.9697  -8.9996
4  train_4       0   9.8369 -1.4834  ...   3.9267   9.5031  17.9974  -8.8104

[5 rows x 202 columns]

In [11]:
# Print the first 5 rows of df_test
df_test.head()

  ID_code    var_0    var_1    var_2  ...  var_196  var_197  var_198  var_199
0  test_0  11.0656   7.7798  12.9536  ...   4.3654  10.7200  15.4722  -8.7197
1  test_1   8.5304   1.2543  11.3047  ...  -1.4852   9.8714  19.1293 -20.9760
2  test_2   5.4827 -10.3581  10.1407  ...  -7.1086   7.0618  19.8956 -23.1794
3  test_3   8.5374  -1.3222  12.0220  ...   3.9567   9.2295  13.0168  -4.2108
4  test_4  11.7058  -0.1327  14.1295  ...  -5.1612   7.2882  13.9260  -9.1846

[5 rows x 201 columns]

## Splitting the data
The code below shows how to divide the training data into training (80%) and validation (20%).

In [12]:
from sklearn.model_selection import train_test_split

# Divide the training data into training (80%) and validation (20%)
df_train, df_val = train_test_split(df_train, train_size=0.8, random_state=random_seed)

# Reset the index
df_train, df_val = df_train.reset_index(drop=True), df_val.reset_index(drop=True)

## Handling uncommon features

### Identifying uncommon features

The code below shows how to find common variables between the training, validation and test data.

In [13]:
# Call common_var_checker
# See the implementation in pmlm_utilities.ipynb
df_common_var = common_var_checker(df_train, df_val, df_test, target)

# Print df_common_var
df_common_var

    common var
0      ID_code
1       target
2        var_0
3        var_1
4       var_10
..         ...
197     var_95
198     var_96
199     var_97
200     var_98
201     var_99

[202 rows x 1 columns]

The code below shows how to find features in the training data but not in the validation or test data.

In [14]:
# Get the features in the training data but not in the validation or test data
uncommon_feature_train_not_val_test = np.setdiff1d(df_train.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_train_not_val_test, columns=['uncommon feature'])

Empty DataFrame
Columns: [uncommon feature]
Index: []

The code below shows how to find the features in the validation data but not in the training or test data.

In [15]:
# Get the features in the validation data but not in the training or test data
uncommon_feature_val_not_train_test = np.setdiff1d(df_val.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_val_not_train_test, columns=['uncommon feature'])

Empty DataFrame
Columns: [uncommon feature]
Index: []

The code below shows how to find the features in the test data but not in the training or validation data.

In [16]:
# Get the features in the test data but not in the training or validation data
uncommon_feature_test_not_train_val = np.setdiff1d(df_test.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_test_not_train_val, columns=['uncommon feature'])

Empty DataFrame
Columns: [uncommon feature]
Index: []

### Removing uncommon features

In [17]:
# Remove the uncommon features from the training data
df_train = df_train.drop(columns=uncommon_feature_train_not_val_test)

# Print the first 5 rows of df_train
df_train.head()

        ID_code  target    var_0   var_1  ...  var_196  var_197  var_198  var_199
0  train_153248       0  12.3039 -8.3899  ...  -2.3412   8.1712  12.9046  -1.9309
1   train_67802       0  15.4069  2.7820  ...   6.5523   8.4698  22.0454   1.4756
2  train_148889       0   9.6427 -4.6261  ...   0.5692   9.3290  12.8980  -9.4318
3  train_103093       1   9.6881 -5.6696  ...   7.4442   9.2145  18.2777  -2.5865
4  train_104681       0   7.1128 -2.0830  ...   6.4975   8.3110  13.7728  -5.9028

[5 rows x 202 columns]

In [18]:
# Remove the uncommon features from the validation data
df_val = df_val.drop(columns=uncommon_feature_val_not_train_test)

# Print the first 5 rows of df_val
df_val.head()

        ID_code  target    var_0   var_1  ...  var_196  var_197  var_198  var_199
0  train_119737       0  11.0038 -4.5026  ...   5.8437   8.8348  17.0461   8.8190
1   train_72272       0  12.8473 -6.1848  ...  -4.2330   9.7456  14.8337  -3.7167
2  train_158154       0  13.1827 -0.8344  ...   7.0406   8.6424  20.7107  -5.4186
3   train_65426       0   8.2132  1.2309  ...  -7.9209   9.0522  17.1735  12.4656
4   train_30074       1   5.5681  4.6355  ...  -6.5168   7.9772  18.5248  11.2771

[5 rows x 202 columns]

In [19]:
# Remove the uncommon features from the test data
df_test = df_test.drop(columns=uncommon_feature_test_not_train_val)

# Print the first 5 rows of df_test
df_test.head()

  ID_code    var_0    var_1    var_2  ...  var_196  var_197  var_198  var_199
0  test_0  11.0656   7.7798  12.9536  ...   4.3654  10.7200  15.4722  -8.7197
1  test_1   8.5304   1.2543  11.3047  ...  -1.4852   9.8714  19.1293 -20.9760
2  test_2   5.4827 -10.3581  10.1407  ...  -7.1086   7.0618  19.8956 -23.1794
3  test_3   8.5374  -1.3222  12.0220  ...   3.9567   9.2295  13.0168  -4.2108
4  test_4  11.7058  -0.1327  14.1295  ...  -5.1612   7.2882  13.9260  -9.1846

[5 rows x 201 columns]

## Handling identifiers

### Combining the training, validation and test data
The code below shows how to combine the training, validation and test data.

In [20]:
# Combine df_train, df_val and df_test
df = pd.concat([df_train, df_val, df_test], sort=False)

### Identifying identifiers
The code below shows how to find identifiers from data.

In [21]:
# Call id_checker on df
# See the implementation in pmlm_utilities.ipynb
df_id = id_checker(df)

# Print the first 5 rows of df_id
df_id.head()

        ID_code
0  train_153248
1   train_67802
2  train_148889
3  train_103093
4  train_104681

### Removing identifiers
The code below shows how to remove identifiers from data.

In [22]:
import numpy as np

# Remove identifiers from df_train
df_train.drop(columns=np.intersect1d(df_id.columns, df_train.columns), inplace=True)

# Remove identifiers from df_val
df_val.drop(columns=np.intersect1d(df_id.columns, df_val.columns), inplace=True)

# Remove identifiers from df_test
df_test.drop(columns=np.intersect1d(df_id.columns, df_test.columns), inplace=True)

In [23]:
# Print the first 5 rows of df_train
df_train.head()

   target    var_0   var_1    var_2  ...  var_196  var_197  var_198  var_199
0       0  12.3039 -8.3899   9.1944  ...  -2.3412   8.1712  12.9046  -1.9309
1       0  15.4069  2.7820   9.2951  ...   6.5523   8.4698  22.0454   1.4756
2       0   9.6427 -4.6261   6.9610  ...   0.5692   9.3290  12.8980  -9.4318
3       1   9.6881 -5.6696  11.2709  ...   7.4442   9.2145  18.2777  -2.5865
4       0   7.1128 -2.0830  11.4807  ...   6.4975   8.3110  13.7728  -5.9028

[5 rows x 201 columns]

In [24]:
# Print the first 5 rows of df_val
df_val.head()

   target    var_0   var_1    var_2  ...  var_196  var_197  var_198  var_199
0       0  11.0038 -4.5026   9.0662  ...   5.8437   8.8348  17.0461   8.8190
1       0  12.8473 -6.1848   6.8799  ...  -4.2330   9.7456  14.8337  -3.7167
2       0  13.1827 -0.8344  13.4689  ...   7.0406   8.6424  20.7107  -5.4186
3       0   8.2132  1.2309  11.1464  ...  -7.9209   9.0522  17.1735  12.4656
4       1   5.5681  4.6355  15.2350  ...  -6.5168   7.9772  18.5248  11.2771

[5 rows x 201 columns]

In [25]:
# Print the first 5 rows of df_test
df_test.head()

     var_0    var_1    var_2   var_3  ...  var_196  var_197  var_198  var_199
0  11.0656   7.7798  12.9536  9.4292  ...   4.3654  10.7200  15.4722  -8.7197
1   8.5304   1.2543  11.3047  5.1858  ...  -1.4852   9.8714  19.1293 -20.9760
2   5.4827 -10.3581  10.1407  7.0479  ...  -7.1086   7.0618  19.8956 -23.1794
3   8.5374  -1.3222  12.0220  6.5749  ...   3.9567   9.2295  13.0168  -4.2108
4  11.7058  -0.1327  14.1295  7.7506  ...  -5.1612   7.2882  13.9260  -9.1846

[5 rows x 200 columns]

## Handling date time variables

### Transforming date time variables
The code below shows how to transform date time variables into the following 6 datetime types:
- year
- month
- day
- hour
- minute
- second

In [26]:
# Get the date time variables
datetime_vars = []

In [27]:
# Call datetime_transformer on df_train
# See the implementation in pmlm_utilities.ipynb
df_train = datetime_transformer(df_train, datetime_vars)

# Print the first 5 rows of df_train
df_train.head()

   target    var_0   var_1    var_2  ...  var_196  var_197  var_198  var_199
0       0  12.3039 -8.3899   9.1944  ...  -2.3412   8.1712  12.9046  -1.9309
1       0  15.4069  2.7820   9.2951  ...   6.5523   8.4698  22.0454   1.4756
2       0   9.6427 -4.6261   6.9610  ...   0.5692   9.3290  12.8980  -9.4318
3       1   9.6881 -5.6696  11.2709  ...   7.4442   9.2145  18.2777  -2.5865
4       0   7.1128 -2.0830  11.4807  ...   6.4975   8.3110  13.7728  -5.9028

[5 rows x 201 columns]

In [28]:
# Call datetime_transformer on df_val
# See the implementation in pmlm_utilities.ipynb
df_val = datetime_transformer(df_val, datetime_vars)

# Print the first 5 rows of df_val
df_val.head()

   target    var_0   var_1    var_2  ...  var_196  var_197  var_198  var_199
0       0  11.0038 -4.5026   9.0662  ...   5.8437   8.8348  17.0461   8.8190
1       0  12.8473 -6.1848   6.8799  ...  -4.2330   9.7456  14.8337  -3.7167
2       0  13.1827 -0.8344  13.4689  ...   7.0406   8.6424  20.7107  -5.4186
3       0   8.2132  1.2309  11.1464  ...  -7.9209   9.0522  17.1735  12.4656
4       1   5.5681  4.6355  15.2350  ...  -6.5168   7.9772  18.5248  11.2771

[5 rows x 201 columns]

In [29]:
# Call datetime_transformer on df_test
# See the implementation in pmlm_utilities.ipynb
df_test = datetime_transformer(df_test, datetime_vars)

# Print the first 5 rows of df_test
df_test.head()

     var_0    var_1    var_2   var_3  ...  var_196  var_197  var_198  var_199
0  11.0656   7.7798  12.9536  9.4292  ...   4.3654  10.7200  15.4722  -8.7197
1   8.5304   1.2543  11.3047  5.1858  ...  -1.4852   9.8714  19.1293 -20.9760
2   5.4827 -10.3581  10.1407  7.0479  ...  -7.1086   7.0618  19.8956 -23.1794
3   8.5374  -1.3222  12.0220  6.5749  ...   3.9567   9.2295  13.0168  -4.2108
4  11.7058  -0.1327  14.1295  7.7506  ...  -5.1612   7.2882  13.9260  -9.1846

[5 rows x 200 columns]

## Handling missing data

### Combining the training, validation and test data
The code below shows how to combine the training, validation and test data.

In [30]:
# Combine df_train, df_val and df_test
df = pd.concat([df_train, df_val, df_test], sort=False)

### Identifying missing values

The code below shows how to find variables with NaN, their proportion of NaN and data type.

In [31]:
# Call nan_checker on df
# See the implementation in pmlm_utilities.ipynb
df_nan = nan_checker(df)

# Print df_nan
df_nan

      var  proportion    dtype
0  target         0.5  float64

In [32]:
# Print the unique data type of variables with NaN
pd.DataFrame(df_nan['dtype'].unique(), columns=['dtype'])

     dtype
0  float64

The code below shows how to use data type to select variables with missing values in the combined data.

In [33]:
# Get the variables with missing values, their proportion of missing values and data type
df_miss = df_nan[df_nan['dtype'] == 'float64'].reset_index(drop=True)

# Print df_miss
df_miss

      var  proportion    dtype
0  target         0.5  float64

### Separating the training, validation and test data
The code below shows how to separate the training, validation and test data.

In [34]:
# Separating the training data
df_train = df.iloc[:df_train.shape[0], :]

# Separating the validation data
df_val = df.iloc[df_train.shape[0]:df_train.shape[0] + df_val.shape[0], :]

# Separating the test data
df_test = df.iloc[df_train.shape[0] + df_val.shape[0]:, :]

In [35]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  160000        201

In [36]:
# Print the dimension of df_val
pd.DataFrame([[df_val.shape[0], df_val.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   40000        201

In [37]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  200000        201

### Imputing missing values
The code below shows how to use the mode of a variable to impute its missing values.

In [38]:
from sklearn.impute import SimpleImputer

# If there are missing values
if len(df_miss['var']) > 0:
    # The SimpleImputer
    si = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

    # Impute the variables with missing values in df_train, df_val and df_test 
    df_train[df_miss['var']] = si.fit_transform(df_train[df_miss['var']])
    df_val[df_miss['var']] = si.transform(df_val[df_miss['var']])
    df_test[df_miss['var']] = si.transform(df_test[df_miss['var']])

## Encoding the data

### Combining the training, validation and test data
The code below shows how to combine the training, validation and test data.

In [39]:
# Combine df_train, df_val and df_test
df = pd.concat([df_train, df_val, df_test], sort=False)

# Print the unique data type of variables in df
pd.DataFrame(df.dtypes.unique(), columns=['dtype'])

     dtype
0  float64

### Identifying categorical variables

The code below shows how to find categorical variables (whose data type is dtype) and their number of unique value.

In [40]:
# Call cat_var_checker on df
# See the implementation in pmlm_utilities.ipynb
df_cat = cat_var_checker(df)

# Print the dataframe
df_cat

Empty DataFrame
Columns: [var, nunique]
Index: []

### Encoding categorical features
The code below shows how to encode categorical features in the combined data.

In [41]:
# One-hot-encode the categorical features in the combined data
df = pd.get_dummies(df, columns=np.setdiff1d(df_cat['var'], [target]))

# Print the first 5 rows of df
df.head()

   target    var_0   var_1    var_2  ...  var_196  var_197  var_198  var_199
0     0.0  12.3039 -8.3899   9.1944  ...  -2.3412   8.1712  12.9046  -1.9309
1     0.0  15.4069  2.7820   9.2951  ...   6.5523   8.4698  22.0454   1.4756
2     0.0   9.6427 -4.6261   6.9610  ...   0.5692   9.3290  12.8980  -9.4318
3     1.0   9.6881 -5.6696  11.2709  ...   7.4442   9.2145  18.2777  -2.5865
4     0.0   7.1128 -2.0830  11.4807  ...   6.4975   8.3110  13.7728  -5.9028

[5 rows x 201 columns]

### Encoding categorical target
The code below shows how to encode categorical target in the combined data.

In [42]:
from sklearn.preprocessing import LabelEncoder

# The LabelEncoder
le = LabelEncoder()

# Encode categorical target in the combined data
df[target] = le.fit_transform(df[target])

# Print the first 5 rows of df
df.head()

   target    var_0   var_1    var_2  ...  var_196  var_197  var_198  var_199
0       0  12.3039 -8.3899   9.1944  ...  -2.3412   8.1712  12.9046  -1.9309
1       0  15.4069  2.7820   9.2951  ...   6.5523   8.4698  22.0454   1.4756
2       0   9.6427 -4.6261   6.9610  ...   0.5692   9.3290  12.8980  -9.4318
3       1   9.6881 -5.6696  11.2709  ...   7.4442   9.2145  18.2777  -2.5865
4       0   7.1128 -2.0830  11.4807  ...   6.4975   8.3110  13.7728  -5.9028

[5 rows x 201 columns]

### Separating the training, validation and test data
The code below shows how to separate the training, validation and test data.

In [43]:
# Separating the training data
df_train = df.iloc[:df_train.shape[0], :]

# Separating the validation data
df_val = df.iloc[df_train.shape[0]:df_train.shape[0] + df_val.shape[0], :]

# Separating the test data
df_test = df.iloc[df_train.shape[0] + df_val.shape[0]:, :]

In [44]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  160000        201

In [45]:
# Print the dimension of df_val
pd.DataFrame([[df_val.shape[0], df_val.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   40000        201

In [46]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  200000        201

## Splitting the feature and target
The code below shows how to split the feature and target.

In [47]:
# Get the feature matrix
X_train = df_train[np.setdiff1d(df_train.columns, [target])].values
X_val = df_val[np.setdiff1d(df_val.columns, [target])].values
X_test = df_test[np.setdiff1d(df_test.columns, [target])].values

# Get the target vector
y_train = df_train[target].values
y_val = df_val[target].values
y_test = df_test[target].values

## Scaling the data

### Normalization
The code below shows how to normalize the data.

In [48]:
from sklearn.preprocessing import MinMaxScaler

# The MinMaxScaler
mms = MinMaxScaler()

#### Normalizing the features
The code below shows how to normalize the features.

In [49]:
# Normalize the training data
X_train = mms.fit_transform(X_train)

# Normalize the validation data
X_val = mms.transform(X_val)

# Normalize the test data
X_test = mms.transform(X_test)

# Hyperparameter Tuning

## Creating the dictionary of the models
- In the dictionary:
    - the key is the acronym of the model
    - the value is the model

In [50]:
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier

models = {'lr': LogisticRegression(class_weight='balanced', random_state=random_seed),
          'mlpc': MLPClassifier(early_stopping=True, random_state=random_seed)}

## Creating the dictionary of the pipelines
In the dictionary:
- the key is the acronym of the model
- the value is the pipeline, which, for now, only includes the model

In [51]:
from sklearn.pipeline import Pipeline

pipes = {}

for acronym, model in models.items():
    pipes[acronym] = Pipeline([('model', model)])

## Getting the predefined split cross-validator

In [52]:
# Get the:
# feature matrix and target velctor in the combined training and validation data
# target vector in the combined training and validation data
# PredefinedSplit
# See the implementation in pmlm_utilities.ipynb
X_train_val, y_train_val, ps = get_train_val_ps(X_train, y_train, X_val, y_val)

## GridSearchCV

### Creating the dictionary of the parameter grids
- In the dictionary:
    - the key is the acronym of the model
    - the value is the parameter grid of the model

In [53]:
param_grids = {}

#### The parameter grid for LogisticRegression
- The hyperparameters we want to fine-tune are:
    - tol
    - C
- See details of the meaning of the hyperparametes in [sklearn.linear_model.LogisticRegression](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html)

In [54]:
# The parameter grid of tol
tol_grid = [10 ** -5, 10 ** -4, 10 ** -3]

# The parameter grid of C
C_grid = [0.1, 1, 10]

# Update param_grids
param_grids['lr'] = [{'model__tol': tol_grid,
                      'model__C': C_grid}]

#### The parameter grid for MLPClassifier
- The hyperparameters we want to fine-tune are:
    - alpha
    - learning_rate_init

- See details of the meaning of the hyperparametes in [sklearn.neural_network.MLPClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html)

In [55]:
# The grids for alpha
#alpha_grids = [10 ** i for i in range(-5, -1)]
alpha_grids = [10 ** i for i in range(-3, 2)]

# The grids for learning_rate_init
#learning_rate_init_grids = [10 ** i for i in range(-4, -1)]
learning_rate_init_grids = [10 ** i for i in range(-3, 1)]

# Update param_grids
param_grids['mlpc'] = [{'model__alpha': alpha_grids,
                        'model__learning_rate_init': learning_rate_init_grids}]

### Creating the directory for the cv results produced by GridSearchCV

In [56]:
# Make directory
directory = os.path.dirname(abspath_curr + '/result/mnist/cv_results/GridSearchCV/')
if not os.path.exists(directory):
    os.makedirs(directory)

### Tuning the hyperparameters
The code below shows how to fine-tune the hyperparameters of SGDRegressor and LinearRegression_MBGD using sklearn GridSearchCV.

In [57]:
from sklearn.model_selection import GridSearchCV

# The list of [best_score_, best_params_, best_estimator_] obtained by GridSearchCV
best_score_params_estimator_gs = []

# For each model
for acronym in pipes.keys():
    # GridSearchCV
    gs = GridSearchCV(estimator=pipes[acronym],
                      param_grid=param_grids[acronym],
                      scoring='f1_macro',
                      n_jobs=2,
                      cv=ps,
                      return_train_score=True)
        
    # Fit the pipeline
    gs = gs.fit(X_train_val, y_train_val)
    
    # Update best_score_params_estimator_gs
    best_score_params_estimator_gs.append([gs.best_score_, gs.best_params_, gs.best_estimator_])
    
    # Sort cv_results in ascending order of 'rank_test_score' and 'std_test_score'
    cv_results = pd.DataFrame.from_dict(gs.cv_results_).sort_values(by=['rank_test_score', 'std_test_score'])
    
    # Get the important columns in cv_results
    important_columns = ['rank_test_score',
                         'mean_test_score', 
                         'std_test_score', 
                         'mean_train_score', 
                         'std_train_score',
                         'mean_fit_time', 
                         'std_fit_time',                        
                         'mean_score_time', 
                         'std_score_time']
    
    # Move the important columns ahead
    cv_results = cv_results[important_columns + sorted(list(set(cv_results.columns) - set(important_columns)))]

    # Write cv_results file
    cv_results.to_csv(path_or_buf=abspath_curr + '/result/mnist/cv_results/GridSearchCV/' + acronym + '.csv', index=False)

# Sort best_score_params_estimator_gs in descending order of the best_score_
best_score_params_estimator_gs = sorted(best_score_params_estimator_gs, key=lambda x : x[0], reverse=True)

# Print best_score_params_estimator_gs
pd.DataFrame(best_score_params_estimator_gs, columns=['best_score', 'best_param', 'best_estimator'])

   best_score  ...                                     best_estimator
0    0.674190  ...  (MLPClassifier(activation='relu', alpha=0.1, b...
1    0.640004  ...  (LogisticRegression(C=0.1, class_weight='balan...

[2 rows x 3 columns]

# Model Selection
Here we will select best_estimator_gs as the best model. Later we will use this best model to generate the submission file for this kaggle competition.

In [58]:
# Get the best_score, best_params and best_estimator obtained by GridSearchCV
best_score_gs, best_params_gs, best_estimator_gs = best_score_params_estimator_gs[0]

# Generating the Submission File
Use the best model selected earlier to generate the submission file for this kaggle competition.

## Creating the directory for the submission file

In [59]:
# Make directory
directory = os.path.dirname(abspath_curr + '/result/submission/')
if not os.path.exists(directory):
    os.makedirs(directory)

## Generating the submission file

In [60]:
# Get the prediction on the test data using the best model
y_test_pred = best_estimator_gs.predict(X_test)

# Transform y_test_pred back to the original class
y_test_pred = le.inverse_transform(y_test_pred)

# Get the submission dataframe
df_submit = pd.DataFrame(np.hstack((df_raw_test[['ID_code']], y_test_pred.reshape(-1, 1))),
                         columns=['ID_code', target])                                                                                     

# Generate the submission file
df_submit.to_csv(abspath_curr + '/result/submission/submission.csv', index=False)

## References

Huang, Yuxiao. Pipeline (including data preprocessing, hyperparameter tuning and model selection) implemented using case_study [/p2 c2 s4 shallow neural_networks/case_study](https://github.com/yuxiaohuang/teaching/blob/master/gwu/machine_learning_I/fall_2021/code/p2_shallow_learning/p2_c2_supervised_learning/p2_c2_s4_shallow_neural_networks/case_study/case_study.ipynb) for the kaggle competition, accessed October 18, 2021.